
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo-body: #1C260E;
    --cor-texto-principal: #000000;
    --cor-titulo: #758C1F;
    --cor-secao: #435915;
    --cor-botao: #892C9E;
    --cor-botao-hover: #B607DE;
    --cor-lista: #758C1F;
  }
  

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cor-fundo-body);
    color:  var(--cor-texto-principal);
    padding: 20px;
    line-height: 1.6;
}


h1 {
    text-align: center;
    color: var(--cor-titulo);
    margin-bottom: 30px;
}

section {
    background-color: var(--cor-secao);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

h2 {
    margin-bottom: 15px;
    color: var(--cor-titulo);
}


form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    flex: 1;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #f9fafb;
}

select {
    padding: 10px;
    flex: 1;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #f9fafb;
    color: #000;
}

button {
    padding: 10px 16px;
    background-color: var(--cor-botao);
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--cor-botao-hover);
}


ul {
    list-style: none;
    padding-left: 0;
}

li {
    background-color: var(--cor-lista);
    font-weight: 600;
    color:  #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

li button {
    margin-left: 8px;
    background-color: #10b981;
}

li button:nth-child(2) {
    background-color: #ef4444;
}

li button:nth-child(3) {
    background-color: #f59e0b;
}

li button:hover {
    opacity: 0.9;
}

footer {
    background-color: var(--cor-secao);
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 0.95rem;
}
